<div>
    <button class="btn btn-primary" *ngIf="menuService.isAdmin()" (click)="modelOpen = !modelOpen">Add Material</button>
    <clr-modal [(clrModalOpen)]="modelOpen" [clrModalSize]="'xl'">
        <h3 class="modal-title">Add a new material</h3>
        <div class="modal-body">
            <form>
                <section class="form-block">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" placeholder="Enter title here" size="45" name="title" [(ngModel)]="title">
                    </div>
                    <div class="form-group">
                        <label for="text">File</label>
                        <input type="file" id="file" name="file" (change)="onFileChange($event)">
                    </div>
                </section>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modelOpen = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="addMaterial()">Add</button>
        </div>
    </clr-modal>
    <div *ngIf="materials">
        <div class="card" *ngFor="let m of materials">
            <div class="card-header">
                {{m.title}}
            </div>
            <div class="card-block">
                <div class="card-text">
                    <clr-icon shape="file"></clr-icon>
                    <span>{{m.filename}}</span>
                </div>
            </div>
            <div class="card-block">
                <div class="card-text">
                    Upload time: {{m.time}}
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link"><a href="{{menuService.rubyServerUrl}}/file?name={{m['filepath']}}&filename={{m['filename']}}" target="_blank">Download</a></button>
            </div>
        </div>
    </div>
</div>