<clr-main-container>
  <clr-header>

    <div class="branding">
      <span class="clr-icon clr-clarity-logo" style="margin-top: 12px"></span>
      <clr-dropdown clrMenuPosition="bottom-left">
        <button clrDropdownToggle>
          <span class="title" *ngIf="menuService.menu[menuService.selectedClassIndex].description">{{menuService.menu[menuService.selectedClassIndex].description}}</span>
          <span class="title" *ngIf="!menuService.menu[menuService.selectedClassIndex].description">Classes</span>
        </button>
        <clr-dropdown-menu>
          <a (click)="switchCourse(i)" clrDropdownItem *ngFor="let item of menuService.menu; let i = index;">{{item.description}}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>

    <div class="header-nav" *ngFor="let item of menuService.menu[menuService.selectedClassIndex]['header'] | mapToIterable">
        <a [routerLink]="[item.val.router]" class="nav-link nav-text"
          [class.active]="item.val.name == menuService.selectedMenu.name" 
          *ngIf="menuService.menu && menuService.selectedMenu">
            {{item.val.name}}
        </a>
    </div>

    <div class="header-actions">

        <clr-dropdown clrMenuPosition="bottom-right">
            <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu>
                <a (click)="logout()" clrDropdownItem>Profile</a>
                <a (click)="logout()" clrDropdownItem>Logout</a>
            </clr-dropdown-menu>
        </clr-dropdown>
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
  </clr-header>

  <!--<nav class="sub-nav" [clr-nav-level]="1" *ngIf="menuService.selectedSubMenu">
    <ul class="nav">
      <li class="nav-item" *ngFor="let submenu of menuService.menu[menuService.selectedMenu].submenu">
        <a class="nav-link" [routerLink]="[menuService.menu[menuService.selectedMenu].router, {'submenu': submenu}]"
          [class.active]="submenu == menuService.selectedSubMenu">{{submenu}}</a>
      </li>
    </ul>
  </nav>-->

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>